    #greycol{
        color:grey;
    }

{
    color:green;
}
  p:nth-last-child(-n + 2) {
    color:green ;
  }


    p:only-child {
        color: red;
      }
    h3 + p{
        
    }
    p.yellow {
        color:yellow; 


    }
    h3:first-child{
        color:pink;
        